html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

/* MAIN STRUCTURE */

h2.h1FONT {
  font-family: Italiana;
  font-weight: bold;
  display: flex;
  margin: 1px;
  font-size: 50px;
  justify-content:center;

}

h4.h1FONT {
  padding-left: 5px;
  font-family: Roboto;
  margin: -2px;
}

p.h1FONT {
  padding-left: 5px;
  font-family: Roboto;

}

/* SPECIALS STRUCTURE */
p.specialfont {

  font-family: Roboto;
  padding-left: 20px;
  padding-right: 20px;

}

p.paraFONT {
  font-family: Roboto;
  padding-left: 20px;
  padding-right: 20px;
  margin: 4px;
  line-height: 1.9em;

}

/* BACK TO MAIN STRUCTURE */

ul.h1FONT {
  list-style-type: none;
  padding-left: 15px;

}

li.h1FONT {

  font-family: Roboto;
  font-size: 12px;


}

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column1 {
	flex: 1;
	border: 1px solid black;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }

}

.column2 {
	flex: 1;

	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }

}

.column3 {
	flex: 1;

	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }

}

.column {
	flex: 1;
	border: 1px solid black;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }

}

/* MENU PAGE MAIN STRUCTURE */

td {

  border: 1px solid black;
  margin: 7px;

}

table {
  padding: 15px;
  &:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }

}

h1.MENUFONT1st {
  font-family: Italiana;
  font-weight: bold;
  display: flex;
  margin: 1px;
  font-size: 50px;
  justify-content:center;

}

/* History PAGE MAIN STRUCTURE */

/* custom font from google fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Basic styling and positioning of elements */

#some-box {
  background:#fff;
  padding:40px 0px 80px;
}

#some-box h1 {
  text-align:center;
  font-family: Italiana;
}
#some-box h3 {
  font-size:26px;
}


article.row {
  width:100%;
  max-width:800px;
  margin:0 auto;
  padding:45px 0;
  font-family: Roboto;
}

article.row div {
  width:49.4%;
  display:inline-block;
  position:relative;
}


/* Your divs won't expand to contain absolute positioned images */


#idea-one img, #idea-two img, #idea-three img {
  position:relative;
  bottom:-20px;
  left:-5px;}

/* image grayscale */
#idea-one img {
 filter: none;
 -webkit-filter: grayscale(0);
}

#idea-one img:hover {
 filter: grayscale(100%);
 -webkit-filter: grayscale(100%);
}

/* Here's the column repositioning magic. This media query says "Apply these styles only until page width is greater than 750px"

***To make this work, your media query has to be beneath your other styles to keep it from being overwritten later on by your general styles*** */
@media(max-width:750px){

  /* This resizes the divs that contain your content to fill the width of the page so that they stack vertically */
  article.row div {
    min-width:300px;
    width:90%;
    margin:0 5%;
    text-align:center;
    display:block;}

  /* Center your text */
	#some-other-box h3 {
    text-align:center;
  }

  /* Center your image */
	#idea-one img, #idea-two img, #idea-three img {
    position:relative;
    margin:auto;
    left:inherit;
    bottom:inherit;
  }

  /* This tells the browswer to stack the content vertically */
  #idea-two {
    display:-webkit-box;
    display:-moz-box;
    display:box;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    box-orient:vertical;
  }

  /* This tells the browswer to draw the first box (div:first-of-type) within our stacked content block (identified in the previous rule) in the second position ([...]box-ordinal-group:2;)
  This gives us a nice arrangement of alternating text and images, and allows us two have a custom layout for smaller or wider screens.*/
	#idea-two div:first-of-type {
    -webkit-box-ordinal-group:2;
    -moz-box-ordinal-group:2;
    box-ordinal-group:2;}
}

  /*
If we had 3 boxes, we could draw them in order C, A, B by writing div:first-of-type{[...]group:2;} and div:nth-of-type(2) {[...]group:3;}, and so on.
  */



/* RESPONSIVE IMAGE */

.images {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.imagewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%);
  height: 600px;
  margin: 10px;
}

.image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; /* set to 'auto' in IE11 to avoid distortions */
}

 /* image grayscale */
img {
  filter: none;
  -webkit-filter: grayscale(0);
}

img:hover {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


/* FOOTER */

footer{
  background: black;
  color: white;


}

.footerC{
  display: inline-block;
  text-align: center;
}

ul {
  list-style-type: none;

}

.footerC li{
  padding: 15px;
  color: #FFFFFF;
}

/* unvisited link */
.footerC a:link {
 color: #EC9706;
}

/* visited link */
.footerC a:visited {
 color: #EC9706;
}

/* mouse over link */
.footerC a:hover {
 text-decoration: none;
 color: #B2560D;
}

/* RESPONSIVE FORMAT */

@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (min-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}


/* horizontal line */

hr {
  margin-top: 0.2em;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  border-radius:0px;
  padding: -5px;
  width:93%;
}

/* space line  after navbar */

.space-line{
  padding-top: 20px;

}

/* navbar logo image */
#navbar-brand {
    display: flex;
    justify-content:center;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  #navbar-brand img[src= "ambassador_logo.png"] {
    height: 60px;
    width: 370px;
  }


/* navbar */
navbar {

  width: 100%;
  height: 70px;
}

ul {
  display: flex;
  list-style-type: none;

  justify-content: flex-end;
  margin: 0px;
}


li {
  margin: 20px;
  font-family: Roboto;
  font-size: 18px;
}

#title {
  margin-right: auto;
  font-family: Italiana;
  font-weight: bold;
  font-size: 20px;
}

li a {
 color: black;
 text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  ul {
    flex-wrap: wrap;
    justify-content: center;

    padding: 0;
  }

  #title {
    font-family: Italiana;
    font-weight: bold;
    flex-basis: 100%;
    text-align: center;
    margin-left: 0;
    font-size: 20px;
  }

}
